<!DOCTYPE html>
<html>
<head>
  <title>Olimpiada</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= viewport_meta_tag maximum_scale: "1.0" %>
  <%= yield :head %>
</head>
<body>
	<nav class="nav navbar-inverse" role="navigation">
		<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to 'Olimpiada Solidaria', root_url, :class => 'navbar-brand' %>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse">
  		<%= render_backend_nav(@current_user) %>
	  </div>
	</nav>
	<%= bootstrap_flash %>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
